:host{
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

/* modificar estilos de material */
mat-card{
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-card-header{
  display: unset;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  min-width: 400px;

}
/* modificar estilos de campos de formulario de angular material */

mat-form-filed{
  display: block;
  min-width: 300px;
  width: 100%;
}
button{
  width: auto;
}
