<form [formGroup]="miFormularioValidado" (submit)="enviarFormulario()">

  <h3>Datos en vivo</h3>
  <p>{{ miFormularioValidado.value | json }}</p>
  <!-- campos formularios con validaciones -->

  <!-- NOMBRE -->
  <div>
    <input placeholder="Nombre" type="text" formControlName="nombre">
    <div *ngIf="nombre?.errors?.['required'] && nombre?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El campo es obligatorio</p>
    </div>
  </div>

  <!-- APELLIDOS -->
  <input placeholder="Apellidos" type="text" formControlName="apellidos">

  <!-- EDAD -->
  <div>
    <input placeholder="Edad" type="number" formControlName="edad">
    <div *ngIf="edad?.errors?.['required'] && edad?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El campo es obligatorio</p>
    </div>
    <div *ngIf="edad?.errors?.['min'] && edad?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El campo edad no puede ser inferior a 18. No puedes registrarte con {{edad?.errors?.['min'].actual}}</p>
    </div>

    <div *ngIf="edad?.errors?.['max'] && edad?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El campo edad no puede ser Superior a 99. No puedes registrarte con {{edad?.errors?.['max'].actual}}</p>
    </div>
  </div>

  <!-- EMAIL -->
  <div>
    <input placeholder="Email" formControlName="email">
    <div *ngIf="email?.errors?.['email'] && email?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El formato del email no es valido</p>
    </div>
    <div *ngIf="email?.errors?.['required'] && email?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El campo es obligatorio</p>
    </div>
  </div>

  <div>
    <input placeholder="Password" type="password" formControlName="password">
    <div *ngIf="password?.errors?.['required'] && password?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El pasword es obligatorio</p>
    </div>
    <div *ngIf="password?.errors?.['pattern'] && password?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">El formato no es valido</p>
    </div>

  </div>

  <div>
    <mat-label>Aceptar condiciones:</mat-label>
    <input type="checkbox" formControlName="acepta">
    <div *ngIf="acepta?.errors?.['requiredTrue'] && acepta?.touched">
      <p [ngStyle]="{color: 'tomato', fontSize: 'small'}">Debes aceptar los terminos</p>
    </div>
  </div>

  <button type="submit" [disabled]="miFormularioValidado.invalid">Enviar</button>
</form>
